p {
    font-family: Roboto, Arial;
}

body {
    margin: 0;
    padding-top:80px;
    padding-left:140px;
    padding-right: 60px;
    padding-bottom: 400px;
    background-color: rgb(246, 246, 246);
    min-width: 600px;
}

