div.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 800px) {
    div.video-grid {grid-template-columns: 1fr 1fr;

}
}

@media (min-width: 1200px) {
    div.video-grid { 
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
}

div.thumbnail-row {
    margin-bottom: 12px;
    position: relative;
}

img.img-preview {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    
}

p.video-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    vertical-align: top;
    margin-top: 0;
}

p.channel-name {
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.7);

}

p.views {
    font-size: 12px;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.7);
}

img.img-channel {
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
}

div.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

div.channel-picture {
    margin-right: 0;
    margin-top: 10px;
}

div.description {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}

div.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}